@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

:root
{
    --background-inner: #333333;
    --background-outer: #000000;
    --text-color: #666666;
    --text-size: 70px;
    --target-size: 8vmin;
}

html,
body
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}

.aim-trainer
{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(var(--background-inner), var(--background-outer));
    color: var(--text-color);
    font-family: 'Orbitron', sans-serif;
    font-size: var(--text-size);
}

.aim-trainer .action
{
    position: absolute;
    top: calc(50% - var(--text-size) * 0.5);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.aim-trainer .score
{
    display: none;
    position: absolute;
    top: calc(25% - var(--text-size) * 0.5);
    width: 100%;
    text-align: center;
}

.aim-trainer .timer
{
    display: none;
    position: absolute;
    top: calc(75% - var(--text-size) * 0.5);
    width: 100%;
    text-align: center;
}

.aim-trainer .target
{
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: var(--target-size);
    height: var(--target-size);
    margin-top: calc(var(--target-size) * (-0.5));
    margin-left: calc(var(--target-size) * (-0.5));
    background: #dddddd;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px #00000077;
}

.aim-trainer .target::before
{
    content: '';
    position: absolute;
    background: #ee0000;
    width: 66%;
    height: 66%;
    border-radius: 50%;
}

.aim-trainer .target::after
{
    content: '';
    position: absolute;
    background: #dddddd;
    width: 33%;
    height: 33%;
    border-radius: 50%;
}